<h1>Editing Student Booking In Class</h1>

<%= render 'form', student_booking_in_class: @student_booking_in_class %>

<%= link_to 'Show', @student_booking_in_class %> |
<%= link_to 'Back', student_booking_in_classes_path %>
